<div class="footer">
    <nav class="navbar  navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Preview of spotify</a>
        
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
    
              
    
              <a class="button-18"   href="{% url 'auth:signin' %}"><button class="navbt px-3 ">Sign up</button></a>
              
         
            </div>
          </div>
        </div>
      </nav>
    </div>