{% load static %}
<div class=" side_row">
    <div class="s_one bg-dark py-3 px-5 ">
       <div class="  my-2"><a href=""><h3><img src="{% static 'images/spotify.png' %}" alt="">  Spotify</h3></a></div> 
       <div class="my-3"><a href=""><h3><img src="{% static 'images/icons8-home-50.png' %}" alt="">  Home</h3></a></div> 
       <div><a href="my-2"><h3><img src="{% static 'images/icons8-search-64.png' %}" alt="">  Search</h3></a></div> 

    </div>
    <div class="s_two text-white bg-dark">
        <div class="container-fluid  py-3">

            <h5>Your Library</h5>
        </div>
        <div class="overflow p-2  m-0" >
            <div class="firstplaylist mt-2 mb-4 p-2">
                <h5>Create your first playlist</h5>
                <h6>It's easy, we'll help you</h6>
                <button  class="button-18 btn-light lg" role="button">Create playlist</button>
              </div>
              <div class="firstplaylist my-1 p-2">
               <h5>Let's find some podcasts to follow</h5>
               <h6>We'll keep your updates on new episodes</h6>
               <button  class="button-18 btn-light lg" role="button">Browse podcasts</button>
               </div>
        </div>

    </div>
    <!-- <div class="s_three bg-dark p-3 m-0">
        <div class="container d-flex">
            <h6> legel  </h6>
            <h6> privacy center </h6>
            <h6> privacy policy </h6>
            <h6> cookies </h6>
        </div>

    </div> -->
    <div class="s_three bg-dark mt-4 p-3 mx-2">
        <h6> legel  </h6>
        <h6> privacy center </h6>
        <h6> privacy policy </h6>
        <h6> cookies </h6>
    </div>
</div>
